.editor-division{
    // display: grid;
    // grid-template-columns: 1fr 1.5fr;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   

}

.database-bar{
    display: flex;
    justify-content: space-between;
}

.content-row{
    flex-wrap: nowrap;
    display: flex;
}

.row{
    flex-wrap: nowrap;
    overflow-y: scroll;
}

@media (max-width: 670px) {
    .editor-division{
        display: grid;
        grid-template-columns: 1fr;   
    }
    
  }
  