.container {
    display: flex;
}

.builder-container {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    margin-block: 1rem;
}

.code-mirror-builder{
    display: flex;
    padding: 5px 5px 5px 5px;
}

.selection-builder{
    display: block;
}

#submit-builder{
    width: 100%;
    display: flex;
    justify-content: right;
    padding-top: 10px;
}