
.ModalContainer {
    display: flex;
}

.Modal {
    margin: auto;
}
.modalRow {
    padding: 1%;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.modalCol {
    align-content: center;
}


.modal-header{
    align-items: center;
    margin: 8px;
}
.modal-footer{
    justify-content: space-between;
}
